In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series?

In [3]:
list =[1.0,2.0,3.0,4.0,0.5,0.6]

In [5]:
ser_list = pd.Series(list)
ser_list

0    1.0
1    2.0
2    3.0
3    4.0
4    0.5
5    0.6
dtype: float64

In [7]:
pd.Series([1.0,2.0,3.0,4.0,0.5,0.6])

0    1.0
1    2.0
2    3.0
3    4.0
4    0.5
5    0.6
dtype: float64

In [8]:
dic = {1:'A',2:'B',3:'C',4:'E'}

In [4]:
dic = {1:'A',2:'B',3:'C',4:'E'}
ser_dic = pd.Series(dic)

In [5]:
ser_scv = pd.read_csv('dataset/Marks_list.csv')
ser_csv

FileNotFoundError: [Errno 2] No such file or directory: 'dataset/Marks_list.csv'

In [6]:
import pandas as pd
import numpy as np

In [7]:
pd.DataFrame?

In [8]:
states_capitals = {'Karnataka':'Bangalore','Andrapradesh':'Hyderabad','Tamilnadu':'Chennai','Kerela':'Thiruvanathapuram','maharastra':'Mumbai'}

In [9]:
states_lang = {'Karnataka':'Kannada','Andrapradesh':'Telugu',
              'Tamilnadu':'Tamil','Kerela':'Malayalam','Maharastra':'Hindu'}

In [11]:
states_CL = pd.DataFrame({'Capitals': states_capitals,'language': states_lang})
states_CL

                       Capitals   language
Karnataka             Bangalore    Kannada
Andrapradesh          Hyderabad     Telugu
Tamilnadu               Chennai      Tamil
Kerela        Thiruvanathapuram  Malayalam
maharastra               Mumbai        NaN
Maharastra                  NaN      Hindu

In [12]:
print(states_CL)

                       Capitals   language
Karnataka             Bangalore    Kannada
Andrapradesh          Hyderabad     Telugu
Tamilnadu               Chennai      Tamil
Kerela        Thiruvanathapuram  Malayalam
maharastra               Mumbai        NaN
Maharastra                  NaN      Hindu

In [15]:
d_list = {'a':[0,1,2,3,4],'b':[0,2,4,6,8],'c':[0,3,4,5,6]}
d_list

{'a': [0, 1, 2, 3, 4], 'b': [0, 2, 4, 6, 8], 'c': [0, 3, 4, 5, 6]}

In [16]:
df_list = pd.DataFrame(d_list)
df_list

   a  b  c
0  0  0  0
1  1  2  3
2  2  4  4
3  3  6  5
4  4  8  6

In [17]:
data = [{'a':i,'b':2*i,'c':3*i} for i in range(5)]
data

[{'a': 0, 'b': 0, 'c': 0},
 {'a': 1, 'b': 2, 'c': 3},
 {'a': 2, 'b': 4, 'c': 6},
 {'a': 3, 'b': 6, 'c': 9},
 {'a': 4, 'b': 8, 'c': 12}]

In [18]:
data_df = pd.DataFrame(data)
data_df

   a  b   c
0  0  0   0
1  1  2   3
2  2  4   6
3  3  6   9
4  4  8  12

In [20]:
states_CL = pd.DataFrame({'Capitals':pd.Series(states_capitals),'Language': pd.Series(states_lang)})
states_CL

                       Capitals   Language
Andrapradesh          Hyderabad     Telugu
Karnataka             Bangalore    Kannada
Kerela        Thiruvanathapuram  Malayalam
Maharastra                  NaN      Hindu
Tamilnadu               Chennai      Tamil
maharastra               Mumbai        NaN

In [22]:
df_np = pd.DataFrame(np.random.randn(6,3), index=['A','B','C','D','E','F'], columns=['one','two','three'])
df_np

        one       two     three
A -0.993812  0.724286 -0.481601
B  0.123464  0.005990  2.246214
C  0.735293  0.456819 -0.711051
D -1.199241  0.358220 -0.039758
E  0.042330 -1.642520 -1.247320
F -2.380952 -1.009462 -0.564245

In [24]:
A = np.zeros(5, dtype=[('A','i'),('B','f')])
A

array([(0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.)],
      dtype=[('A', '<i4'), ('B', '<f4')])

In [25]:
A_df = pd.DataFrame(A)

In [26]:
A_df

   A    B
0  0  0.0
1  0  0.0
2  0  0.0
3  0  0.0
4  0  0.0